html {
    transition: background-color 0.3s ease, color 0.3s ease;

  }
  html {
    color-scheme: light !important;
  }
  
  html, body {
    overflow-x: hidden;
  }


  /* Dark mode styles */
.dark-mode {
  background-color: #1a202c; /* Dark background */
  color: white;
}

/* Light mode styles */
.light-mode {
  background-color: #f3f4f6; /* Light background */
  color: black;
}
